SECRET_KEY = "SECRET_KEY"
DEBUG = False

# Optional. If you want to use sqlite3, no need to set this. 
# If you want to use postgresql, set this to your database URL.
DATABASE_URL = "postgresql://user:password@host:port/db_name"
