asgiref==3.12.1
dj-database-url==3.1.2
Django==6.1.1
django-filter==26.1
django-unfold==0.108.0
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
psycopg==3.3.6
psycopg-binary==3.3.6
PyJWT==2.15.0
python-dotenv==1.2.3
sqlparse==0.6.0
typing_extensions==4.16.0

# Black related dependencies
black==26.5.1
click==8.5.0
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
platformdirs==4.11.13
pytokens==0.4.1

# Flake8 related dependencies
flake8==7.4.1
mccabe==0.7.0
pycodestyle==2.15.0
pyflakes==4.0.0

# DRF Spectacular dependencies
drf-spectacular==0.30.0
attrs==26.1.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==2026.6.3
uritemplate==4.2.0
